<!-- <div *ngIf="options && options.items" class="multiselect_dropdown">
  <div *ngFor="let item of options.items">
    <button
      class="btn multiselect_dropdown-button"
      [class.selected]="selectedOption === item.name"
      (click)="selectOption(item.name)"
    ></button>
  </div>
</div> -->

<form class="multiselect">
  <div class="multiselect-list">
    <ng-multiselect-dropdown
      *ngFor="let item of options; index as i"
      [placeholder]="item.name"
      [settings]="dropdownSettings"
      [data]="item.values"
      (onSelect)="onItemSelect(i, $event)"
      (onSelectAll)="onSelectAll(i, $event)"
      (onDeSelect)="onItemDeSelect(i, $event)"
      (onDeSelectAll)="onDeSelectAll(i, $event)"
    >
    </ng-multiselect-dropdown>
    <a style="width: 100%" routerLink="/products">
    <button class="findFilteredProductsBtn" type="button" (click)="fillFilteredItems()">Найти</button>
    </a>
  </div>
</form>
<!-- [(ngModel)]="selectedItems" -->
